/* HEADER & NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo{
  margin-top: 2.5em;
  width: 5em;
  height: 5em;
}

.navbar-list{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  font-size: 1em;
}
.navbar-list, ul, li{
  display: inline-block;
  padding-left: .5em;
  vertical-align: middle;
  margin-top: 1em;
}
